.box input[type = "text"],.box label, button{
  display: block;
  margin: 20px auto;
  border: 2px solid #000000;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  font-size: 17px;
}
.box input[type="number"]{
  display: block;
  margin: 20px auto;
  border: 2px solid #000000;
  padding: 14px 10px;
  width: 250px;
  outline: none;
}
.box ::placeholder{
  text-align: center;
  color: red;
  font-size: 17px;
  font-weight: bold;
}
label p{
  text-align: center;
  color:red;
  font-size: 17px;
}

.design label{
  border: 0;
  background: none; 
  display: inline;
  outline: none;
  text-align: left;
}
.App{
  margin-top: 15vh;
}