.MuiAppBar-colorPrimary {
    color: red!important;
    background-color: #000000 !important;
    font-size: 17px !important;

}
label{
    font-weight: bold;
}
.MuiTab-textColorInherit {
    color: inherit;
    opacity: 1;
    width: 50%!important;
}
.MuiTab-textColorInherit.Mui-selected {
    opacity: 1;
    width: 50%!important;
    text-align: center!important;
}
.MuiTab-root {
    max-width: 50%!important;
}